node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
.expo-shared/assets.json
package-lock.json
yarn.lock
.idea/.gitignore
.idea/covid-tracker.iml
.idea/modules.xml
.idea/vcs.xml
